.footer{
    /* display: ; */
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding-inline:40px;
    color: #eee;
    background: #444444;
}

.informations{
    display: space-between;
    padding: 10px;
    background-color: #666666;
    display: flex;
    gap: 20px;
}
.informations div.links{
    color: #eee;
    text-decoration: none;
    display: block;
    gap: 20px;
}
.informations div.links Link{
    color: #eee;
    text-decoration: none;
}
.informations div.links Link:hover{
    color: #efafaf;
    text-decoration: underline;
}
.informations div.about Link:hover{
    color: #efafaf;
    text-decoration: underline;
}
.informations div.about{
    color: #eee;
    text-decoration: none;
}

footer .social{
    display: flex;
    gap: 20px;
    background-color: red;
}

.copyright{
    padding: 10px;
}
@media screen and (max-width: 720px) {
    .footer{
        display: flex;
        flex-direction: column-reverse;
    }    
    .footer p{
        text-align: center;    
    }
}