.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    color: #eee;
    background: #444444;
}
@media screen and (max-width: 720px) {
    .footer{
        display: flex;
        flex-direction: column-reverse;
    }    
    .footer p{
        text-align: center;    
    }
}